<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Kingdom of the Hill</title>
  </head>
  <body>

    <h1>The Kingdom of the Hill</h1>

    <% if current_user %>
      Hi <strong><%= current_user.first_name %></strong>!

      <% if current_monarch %>
        <% if current_user.id == current_monarch.id %>
        You are ruling over the hill!
        <% else %>
        <%= current_monarch.id is ruling over the hill%>
        Log out and log in again to rule over the hill
        <% end %>
      <% else %>
      Sign in to rule over the hill
    <% end %>

    <% else %>
      Sign in to rule over the hill

    <% end %>

<div class="current-reign">
  <% if current_reign %>
  Current reign is: <%= current_reign.id %>
  <% end %>
</div>

<div class="top-10-reigns">

</div>



  </body>
</html>
